nav, footer {
  background-color: #0b0832;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(18, 18, 18);
}

nav li:hover {
  background-color: #4527a0;
}

main {
  flex: 1 0 auto;
}

main.contact {
  background-image: url(../pictures/Wallpaper-1.png);
  background-size: contain;
}

main div form.contact{
  border: solid;
  border-radius: 30px;
  padding: 0px 0px 80px 0px;
  color: white;
  background-image: url(../pictures/Wallpaper-1.png);
}

img:hover {
  opacity: 0.75;
}

.brand-logo {
  font-family: 'Bungee Spice', sans-serif;
}

.contact-us {
  font-family: 'Orbitron', sans-serif;
}

blockquote {
  font-family: 'Roboto Mono', monospace;;
}

ul.sidenav {
  background-color: transparent;
  backdrop-filter: blur(10px);
}


/* Font Sizing */
.text-sm { 
  font-size: 75%;
}

.text-center { 
  text-align: center;
}

.spacing {
  padding-left: 1rem;
}

/* Specific styling for deals information */
div[name="deal"] {
  background-color: white;
}

div[name="deal"]:hover {
  background-color: orange;
}

div[name="deal"]:hover a {
  color: white !important;
}

.strike {
  text-decoration: line-through;
  color: red
}

mark {
  background-color: #311b92;
  color: white;
  font-weight: bold;
  padding: 0 .3rem;
}

.modal-header {
  font-size: 150%;
}

#watch-list-content p {
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
 }

/* Changes to Materialize Toast */
#toast-container {
  top: auto !important;
  right: 8% !important;
  bottom: 10%;
}