nav, footer {
  background-color: #0b0832;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(18, 18, 18);
}

main {
  flex: 1 0 auto;
}

main.contact {
  background-image: url(../pictures/Wallpaper-1.png);
  background-size: cover;
}

main div.container {
  border: solid;
  border-radius: 30px;
  padding: 0px 0px 50px 0px;
  background-color: white;
}

img:hover {
  opacity: 0.75;
}

.brand-logo {
  font-family: 'Bungee Spice', sans-serif;
}

blockquote {
  font-family: 'Roboto Mono', monospace;;
}


/* Font Sizing */
.text-sm { 
  font-size: 75%;
}

.text-center { 
  text-align: center;
}

.spacing {
  padding-left: 1rem;
}

/* Specific styling for deals information */
div[name="deal"] {
  background-color: white;
}

div[name="deal"] a {
  padding-top: .4rem !important;
}


div[name="deal"]:hover {
  background-color: orange;
}

.strike {
  text-decoration: line-through;
  color: red
}

mark {
  background-color: #311b92;
  color: white;
  font-weight: bold;
  padding: 0 .3rem;
}